---
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets';
import ContactImage from '@assets/phone/Jardin.jpg'
---

<Layout
  title="Contacto - Hotel del Angel"
  descripcion="Somos una hacienda en el corazon de la ciudad, con un concepto pensado en tu comodidad y relajacion. Vive una experiencia de altura a un solo click"
>
  <hr class="border-white opacity-70" />

  <div class="grid grid-cols-1 lg:grid-cols-2 pb-4 secondBGColor lg:pl-8">
    <div class="flex flex-col p-10">
      <h2
        class="subTitleFont lg:text-start text-center text-white uppercase pb-10 py-2 text-4xl lg:text-6xl font-bold"
      >
        Contacto
      </h2>
      <p class="text-white text-center lg:text-start text-lg lg:text-2xl py-8">
        <i class="fa fa-map-marker-alt me-3"></i>C. Jesús Carranza 1909, El
        Carmen, 90338 Apizaco, Tlax.
      </p>
      <p class="text-white text-center lg:text-start text-lg lg:text-2xl py-8">
        <i class="fab fa-whatsapp me-3"></i>241-135-4582
      </p>
      <p class="text-white text-center lg:text-start text-lg lg:text-2xl py-8">
        <i class="fa fa-phone me-3"></i>800-700-77-82
      </p>
      <p class="text-white text-center lg:text-start text-lg lg:text-2xl py-8">
        <i class="fa fa-phone me-3"></i>241-417-68-00
      </p>
      <p class="text-white text-center lg:text-start text-lg lg:text-2xl py-8">
        <i class="fa fa-envelope me-3"></i>ventas@hoteldelangel.com.mx
      </p>
    </div>
    <div class="p-10 justify-self-center">
      <Image src={ContactImage} class="box" width={600} height={600} alt='Hotel del angel' />
    </div>
  </div>
  <hr class="border-white opacity-70" />

  <div class="principalBGColor p-8">
    <p class="uppercase text-center text-3xl pb-8 text-white font-bold">
      ¿Dónde nos localizamos?
    </p>
    <div class="flex justify-center  box">
      <iframe class="w-full h-[600px]  "
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1151.4983177465729!2d-98.15364495165922!3d19.416647701531346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d020391ee7bd35%3A0x1046f1c8d6b4f150!2sHotel%20Del%20%C3%81ngel!5e0!3m2!1ses-419!2smx!4v1677090499956!5m2!1ses-419!2smx"
        
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</Layout>
