---
import Layout from '@layouts/Layout.astro'
import Hero from '@components/Hero.astro'
import Habitaciones from '@components/Habitaciones.astro'
import Servicios from '@components/Servicios.vue'
import Maps from '@components/Maps.vue'
---

<Layout
  title="Hotel Del Angel - Comodidad y servicio a un click de distancia"
  descripcion="Ubicados en el corazón de la ciudad rielera de Apizaco, Hotel del Ángel te ofrece confort y relajación. Experimenta el lujo a un solo clic."
>
  <section id="inicio">
    <Hero />
  </section>
  <section id="habitaciones" class="principalBGColor" >
    <Habitaciones />
  </section>

  <section id="servicios" class="secondBGColor" >
    <Servicios client:only />
  </section>
  <section id="interes" class="principalBGColor py-10" >
    <Maps client:only />
  </section>

  
</Layout>
  

