<title>Menu - Hotel del Angel</title>
<link rel="icon"  href="/assets/LOGO.ico" />


    <iframe src="https://docs.google.com/gview?url=https://hoteldelangel.com.mx/public/PDF/menu.pdf&embedded=true" ></iframe>

    <style>
        iframe {
            width: 100vw;
            height: 100vh;
            border: none;
        }
    </style>