---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aviso de Privacidad" descripcion="Aviso de Privacidad Hotel del Angel">
    <section class="px-4  py-6 bg-white">

            <h1 class="text-center text-lg font-semibold lg:text-4xl pb-10 subTitleFont">AVISO DE PRIVACIDAD “HOTEL DEL ANGEL”</h1>
    <p class="textP">
    El presente aviso de privacidad se entrega de acuerdo a lo señalado en los artículos 8, 15, 16, 36 y demás relativos y aplicables de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (“<strong>LFPDPPP</strong>”). 
    </p>
    <p class="textP">
    <strong>RESPONSABLE.-</strong>  Operadora de Hoteles y Restaurantes GARSARB; su filial y subsidiaria, (indistintamente, “Hotel del Ángel”), con domicilio principal en Calle Jesús Carranza No. 1909, col. El Carmen, Apizaco Tlaxcala, es responsable de la obtención y tratamiento de sus datos personales obtenidos debido a la relación de hospedaje y facturación por consumo de alimentos y servicios, que tiene con nosotros y podrá auxiliarse de uno o más encargados para brindar un mejor tratamiento a sus datos personales.
    </p>
    <p class="textP">
    <strong>TRATAMIENTO DE DATOS PERSONALES.-</strong>  Para las finalidades establecidas en este Aviso de Privacidad, HOTEL DEL ANGEL obtendrá de usted los siguientes datos personales: nombre y apellidos, fecha de nacimiento, género, domicilio, teléfonos, correo electrónico, dirección rango de edad, registro federal de contribuyentes (RFC), nacionalidad o ciudadanía, número de placas de su automóvil; nombre y datos de terceros; nombre de su empresa, su puesto y datos de contacto; datos de su tarjeta de crédito o débito y forma de pago, datos de facturación; información acerca de sus intereses, preferencias, opiniones y hobbies; datos demográficos, incluyendo datos de geolocalización de su dispositivo cada vez que haga uso de la red wifi de Hotel del Angel, su dirección IP y tipo de browser cuando se obtienen por medios electrónicos, datos del uso y consumo de los servicios de internet desde su dispositivo, así como el uso de aplicaciones y servicios de terceros.
    </p>
    <p class="textP">
    Le informamos que Hotel del Ángel no obtiene datos personales que son considerados por la LFPDPPP como datos personales sensibles. Podemos obtener datos de su tarjeta de crédito con motivo de las reservaciones u consumo de alimentos o servicios, y de cobro en caso de que no haga efectiva la reservación o servicio.
    </p>
    <p class="textP">
    HOTEL DEL ANGEL, obtiene o puede obtener datos personales de usted a través de los siguientes medios:
    </p>
    <p class="textP">
    • De forma personal cuando usted se los proporciona a alguno de nuestros empleados, llenando formularios para aceptar nuestro contrato de hospedaje y hacer check-in con nosotros, o en nuestra recepción. Asimismo, cuando usted contesta cuestionarios de satisfacción y opinión del servicio, o cuando se suscribe a ofertas, promociones y concursos o programas de lealtad. Así como al momento de llenar formulario para la facturación de alimentos y servicios. 
    </p>
    <p class="textP">
    • De forma directa, cuando usted nos los proporciona vía telefónica o a través de medios electrónicos en nuestro Sitio Web <strong>www.hoteldelangel.com.mx</strong> con las siguientes finalidades: identificarse, crear su cuenta personalizada como usuario o ingresar a la misma en nuestro portal, llenar el formulario de reservación, realizar el pre-registro para su check-in previo a su llegada al Hotel, o check-out de su reservación, en su caso, y estancia en nuestro hotel, interactuar en nuestras redes sociales o por medio de cookies, o por medio de correo electrónico. Asimismo cuando haga uso de las redes wifi del hotel, cuando usted contesta cuestionarios de satisfacción y opinión del servicio por medios electrónicos, o cuando se suscribe a ofertas y concursos por nuestros medios electrónicos.
    </p>
    <p class="textP">
    • De forma indirecta, cuando usted proporciona sus datos personales a alguno de nuestros proveedores, como agencias de viajes o terceros que nos proveen bases de datos, que nos apoyan durante los procesos de reservación y mercadeo.
    </p>
    <p class="textP">
    <strong>FINALIDAD DEL OBTENCION DE DATOS PERSONALES.</strong> - La obtención y tratamiento de los datos personales señalados, se realiza con las finalidades necesarias:
    </p>
    <p class="textP">
    <strong>a)</strong> Tener registro de los huéspedes para identificarlos como clientes o usuarios y brindarles el mejor servicio y atención posible, pudiendo realizar el registro del tiempo de uso de sesión en línea.
    </p>
    <p class="textP">
    <strong>b)</strong> Acreditar la identidad del huésped y verificar la veracidad de la información que nos proporciona, pudiendo cancelar su cuenta de usuario en caso de encontrar anomalías o falsedad en los datos proporcionados.
    </p>
    <p class="textP">
    <strong>c)</strong> Contactar a los huéspedes cuando sea necesario a través de distintos medios de comunicación, tales como, teléfono, chat, correo electrónico, entre otros, para completar transacciones, procesar reservaciones o pre-registros antes de su llegada al hotel, brindarle servicios personalizados, otorgarle promociones, beneficios, o descuentos, actualizar nuestros sistemas o bases de datos, o en casos de emergencia.
    </p>
    <p class="textP"> <strong>d)</strong> Obtener datos de facturación en caso de que sea requerido.</p>
    <p class="textP"> <strong>e)</strong> Lograr una reservación presencial directamente en nuestro hotel o en línea en nuestra página web <strong>www.hoteldelangel.com.mx</strong>, conforme a sus especificaciones y necesidades.</p>
    <p class="textP"> <strong>f)</strong> Obtener los datos de su tarjeta de crédito, los cuales solo serán empleados como garantía de la reservación, emitiendo un cargo solo en caso de no hacer efectiva la reservación.</p>
    <p class="textP"> <strong>g)</strong> Consultarle sobre la calidad de nuestro servicio y comprender las necesidades específicas de cada huésped, para prestarle un mejor servicio.</p>
    <p class="textP"> <strong>h)</strong> Cumplir con las políticas y procesos internos de Hotel del Ángel, así como con las disposiciones legales obligatorias y contractuales que se hayan celebrado con usted en virtud de la relación comercial existente.</p>
    <p class="textP"> <strong>i)</strong> Brindar atención a sus solicitudes de quejas o reclamaciones y/o dar cumplimiento a los requerimientos de autoridades competentes.</p>
    <p class="textP"> <strong>j)</strong> Proteger los intereses y derechos de Hotel del Angel, conforme a las disposiciones legales.</p>
    <p class="textP"> Adicionalmente, tenemos las siguientes finalidades:</p>
    <p class="textP"> <strong>a)</strong> Para obtener de usted encuestas en línea y cuestionarios de satisfacción y opinión del servicio o del sitio de internet.</p>
    <p class="textP"> <strong>b)</strong> Para enviarle publicidad personalizada y para fines mercadológicos, estadísticos y de prospección comercial.</p>
    <p class="textP"> <strong>c)</strong> Para compartirlos de manera anónima con fines estadísticos con nuestros socios de negocio para generar audiencias afines a las cuales mostrarles anuncios en buscadores web y redes de distribución de publicidad digital.</p>
    <p class="textP"> <strong>DEL CONSENTIMIENTO</strong>.- En el momento en que usted proporcione sus datos personales, si usted está en desacuerdo con qué Hotel del Ángel  trate alguno o algunos de los datos personales enlistados, con las finalidades descritas y no objeta la lista de datos personales solicitados o su uso, usted estará otorgando su consentimiento tácito. En caso de no estar conforme con proporcionar alguno de los datos que le solicitamos o algún uso, debe, previo a facilitar los datos, externar su negativa. Usted está en su derecho de proporcionar sólo los datos que considere necesarios para los objetivos enlistados.</p>
    <p class="textP"> En caso de consentir el tratamiento de los datos personales enlistados para las finalidades descritas, de conformidad con el presente aviso, por favor acepte este aviso de privacidad y consentimiento informado.</p>
    <p class="textP"> Si en el futuro usted desea retirar su autorización para el uso de sus datos personales y sensibles de acuerdo a lo establecido en el presente Aviso de Privacidad, agradeceremos enviar un correo electrónico a la siguiente dirección: gerencia@hoteldelangel.com.mx acompañado de una identificación oficial, en donde manifieste su voluntad, o bien enviando un escrito debidamente firmado por Usted, acompañado de una copia de su identificación oficial vigente con fotografía, por correo postal a la dirección de Hotel del Ángel  señalada en este aviso de privacidad.</p>
    <p class="textP"><strong>9. DE LAS MODIFICACIONES.</strong></p>
    <p class="textP">GARSARB S.A DE C.V se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para efectos de reflejar la entrada en vigor de nuevas regulaciones o políticas internas. Estas modificaciones estarán disponibles a través de los siguientes medios: anuncios visibles en nuestros establecimientos, página de Internet, o bien, por correo electrónico. En caso de que usted no estuviera de acuerdo con dichas modificaciones, deberá enviar un correo al correo electrónico antes señalado, solicitando la cancelación de sus datos personales, conforme a la LFPDPPP.</p>
    <p class="textP">“Le informamos que esta página puede usar cookies y web beacons para obtener datos personales. Usted las podrá deshabilitar según se establece en nuestro Aviso de Privacidad.”</p>
    </section>

</Layout>

<style>
    .textP{

        @apply text-justify text-sm py-1 px-2 lg:px-14;
    }
</style>