---
import HeadVideo from '@assets/video2.mp4?url'
---
<hr class="border-white opacity-70" />
    
    <video autoplay muted loop src={HeadVideo} class="w-full relative z-[-1]" ></video>
    <hr class="border-white opacity-70" />
    <div class="secondBGColor">
        <h1 class="text-center text-white text-6xl lg:text-8xl fontTitle pt-8">Hotel del Angel</h1>
        <h2 class="text-center text-white text-4xl lg:text-6xl fontTitle py-8">Bienvenidos</h2>
        <p class="text-center text-white text-lg lg:text-xl pb-10 px-5 md:px-15 subTitleFont">Somos una hacienda en el corazón de Apizaco, ciudad modelo, con un concepto pensado en tu comodidad y relajación. Vive una experiencia de altura a un solo clic</p>
        
    </div>

