---
import Icon from "astro-icon";
---

<div class="fixed bottom-8 right-2 z-1 " id="whatsappFixed" >
        <a
        href="https://wa.me/522411354582?text=¡Hola!,%20Me%20gustaria%20solicitar%20informacion%20sobre%20las%20habitaciones."
        target="_blank"
        aria-label="Nuevo chat en Whatsapp"
        ><Icon
        name="logos:whatsapp"
        color="green"
        aria-label="Ir a nuestra página de Whatsapp"
        class="mx-10 hover:scale-125 lg:w-14 w-10 transition duration-500 ease-in-out"
        /></a
        >
</div>

