---
import { Icon } from 'astro-icon'
---

<footer class="principalBGColor m-0" >

  <!-- inicio footer -->
  <div class="secondBGColor w-full bottom-0  ">
    <hr class="border-white opacity-70" />
    <h5 class="text-center text-white uppercase mt-4 text-2xl font-semibold subTitleFont">
      Búscanos en Nuestras Redes Sociales
    </h5>

    <!-- Secciones de redes sociales -->
    <div class=" flex justify-center px-10 py-8" >
      <a href="https://www.facebook.com/hotelviddelangel" target="_blank" aria-label="Ir a nuestra página de Facebook"
        ><Icon
          name="logos:facebook"
          aria-label="Facebook logo"
          
          class="mx-10 hover:scale-125 lg:w-20 w-10  transition duration-500 ease-in-out"
        /></a
      >
      <a href="https://www.instagram.com/hotelviddelangel/" target="_blank" aria-label="Ir a nuestra página de Instagram"
        ><Icon
          name="iconoir:instagram"
          color="pink"
          aria-label="Instagram logo"
         
          class="mx-10 hover:scale-125 lg:w-20 w-10 transition duration-500 ease-in-out"
        /></a
      >
      <a
        href="https://wa.me/522411354582?text=¡Hola!,%20Me%20gustaria%20solicitar%20informacion%20sobre%20las%20habitaciones."
        target="_blank"
        aria-label="Nuevo chat en Whatsapp"
        ><Icon
          name="logos:whatsapp"
          color="green"
          aria-label="Ir a nuestra página de Whatsapp"
          class="mx-10 hover:scale-125 lg:w-20 w-10 transition duration-500 ease-in-out"
        /></a
      >
    </div>
  </div>
    <hr class="border-white opacity-70" />

    <hr class="border-white opacity-70" />
    <div class=" flex justify-between mt-6 ml-2 pb-6">
        <p class="text-white text-sm lg:text-lg">Hotel Del Angel Todos los derechos reservados.</p>
        <p class="text-white mr-4 hover:text-red-500 text-sm lg:text-lg text-center"><a href="/privacidad" aria-label="Ver Aviso de Privacidad">Aviso de privacidad.</a></p>

    </div>
    
</footer>


